<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color : orange">


<form action="/input" method="post">
    <input type="text" placeholder="Please enter your message" name="message" />
    <button type="submit">Send</button>
</form>

<form action="/history" method="post">
    <button type="submit">History</button>
    {{#ConnectionHandler}}
    In connection handler
    {{#myContainer}}
    in mycontainer
    {{#.}}
    in the list
    <b>{{.}}</b>
    {{/.}}
    {{/myContainer}}
    {{/ConnectionHandler}}

</form>


</body>
</html>